input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-top:10px;
    margin-left: 10px;
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-radius:50%;
    /* background-color: rgba(52, 194, 194, 0.829); */
    position: relative;
    z-index:10;
}
.custom-file-upload:hover {
    background-color: hsla(0, 0%, 0%, 0.877);
    background-image: url('../img/upload.jpg');
}
.boutonChangementImage:hover{
    position: relative;
    z-index:10;
}
.boutonChangementImage{
    height: 180px;
    width: 180px;
    border-radius:50%;
    z-index:1;
}
.image{
    position: absolute;
    z-index:5;
    border-radius:50%;
    height: 180px;
    width: 180px;
    opacity: 0.7;
}
.bi{
    margin-right:80px;
    margin-top:30px;
}

